/* Estilos para el footer */
footer {
    background-color: #343a40;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

footer ul {
    padding-left: 0;
    list-style: none;
}

footer ul li {
    margin-bottom: 5px;
}

footer ul li a {
    color: #fff;
    text-decoration: none;
}

footer ul li a:hover {
    text-decoration: underline;
}

footer hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border-color: rgba(255, 255, 255, 0.1);
}



